.title {
    font-size: 3rem;
    margin-bottom: 40px;
}

.cart-items {
    margin-bottom: 50px;
}

.total-cost,
.total-amount {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-cost {
    margin-bottom: 20px;
}

.sum,
.amount {
    font-size: 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.totals {
    margin-bottom: 30px;
}

.cart {
    margin-bottom: 30px;
    color: #fff;
}