.button {
    padding: 10px 20px;
    background-color: rgb(34, 30, 46);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid rgb(23, 20, 31);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}

.button:not([disabled]):hover {
    background-color: rgb(2, 2, 2);
    border-color: black;
}

.button:not([disabled]):active {
    background-color: rgb(102, 102, 102);
    border-color: rgb(102, 102, 102);
}

.button:last-of-type {
    margin-right: 0;
}

.button:disabled {
    opacity: .4;
    cursor: not-allowed;
}