.img {
    width: 240px;
    height: 266px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7px;
    border-bottom: 1px solid rgb(34, 30, 46);
    color: #fff;
}

.item:first-of-type {
    padding: 7px 7px 20px 7px;
}

.title {
    font-size: 1.7rem;
    margin-bottom: 7px;
}

.desc {
    font-size: 1rem;
    margin-bottom: 7px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5;
}

.price {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.item-data {
    display: flex;
    margin-right: 15px;
}

.img-wrapper {
    margin-right: 10px;
    width: 240px;
    height: 266px;
    box-shadow: 2px 10px 15px #000;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.category {
    font-size: 1rem;
    color: #D8D8D8;
    margin-bottom: 7px;
}

.rate,
.reviews {
    font-size: 1rem;
}

.rate {
    margin-bottom: 7px;
}