.card {
    max-width: 800px;
    padding: 20px;
    margin: 15vh auto;
    background-color: #373846;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 9px 9px 20px #000;
}