.header {
    max-height: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    padding: 20px;
    background-color: rgb(67, 58, 92);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.logInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    font-size: 3rem;
}

.nav ul li {
    margin-right: 1.5rem;
}

.actions {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
}

.nav__link:hover {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: rgb(34, 30, 46);
    border: 1px solid rgb(23, 20, 31);
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
}

.cart {
    font-size: 1.5rem;
}

.cart-wrapper:hover {
    background-color: rgb(2, 2, 2);
}

.cart-wrapper:active {
    background-color: rgb(102, 102, 102);
}