.label {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

.control {
    display: flex;
    flex-direction: column;
}

.input {
    max-width: 400px;
    padding: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 2px solid rgb(34, 30, 46);
    font-size: 1.5rem;
    background-color: #D8D8D8;
}

.input:focus {
    border: 2px solid rgb(0, 0, 0);
}

.invalid input {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(253, 194, 188);
}

.error {
    font-size: 1.2rem;
    margin-top: 5px;
}