main {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.gradient-bg-1 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #0d0d0d .79%, rgba(13, 13, 13, 0) 23.87%),
        radial-gradient(100.72% 66.36% at left center, #4d2814 0, rgb(73 23 79 / 60%) 26.72%, rgba(96, 23, 54, 0) 72.51%);
}

.gradient-bg-2 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1000px;
    right: 0;
    background: radial-gradient(56.72% 67.36% at right center, #121e46 0, rgba(17, 92, 21, 0.6) 26.72%, rgba(96, 23, 54, 0) 72.51%);
}

.gradient-bg-3 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3000px;
    right: 0;
    background: radial-gradient(109.3% 48.62% at left center, #055971 0, rgba(5, 89, 113, 0) 100%);
}

.gradient-bg-4 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6000px;
    right: 0;
    background: radial-gradient(24.72% 64.36% at left, #3e9e06 0, rgba(106, 6, 131, 0.6) 26.72%, rgb(255 255 255 / 0%) 76.51%);
}

.gradient-bg-5 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4500px;
    right: 0;
    background: radial-gradient(109.3% 48.62% at right center, #910446 0, rgba(5, 89, 113, 0) 100%);
}

.gradient-bg-6 {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6500px;
    right: 0;
    background: radial-gradient(109.3% 48.62% at right center, #050c71 0, rgba(5, 89, 113, 0) 100%);
}