.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 7px 7px 15px 7px;
    border-bottom: 1px solid rgb(34, 30, 46);
    color: #fff;
}

.title {
    width: 50%;
}

.quantity {
    margin-bottom: 7px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-per-st {
    font-size: 1rem;
    color: #D8D8D8;
}

.item__btn {
    padding: 10px;
    background-color: rgb(34, 30, 46);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    width: 45px;
}

.item__btn:not(:last-of-type) {
    margin-right: 15px;
}

.item__btn:hover {
    background-color: #000;
}

.item__btn:active {
    background-color: rgb(102, 102, 102);
}